h1,
h2,
h3,
h4,
h5,
p {
   margin: 0;
   padding: 0;
}
html,
body,
#app {
   margin: 0;
   height: 100%;
   font-family: sans-serif;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

input {
   margin: 0;
   padding: 0;
}

